html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: navy;
  background-image: url("../images/oriental-tiles/oriental-tiles.png");
  background-repeat: repeat;
  z-index: -1;
}

h1 {
  background-color: orange;
  color: navy;
  padding: 10px;
}

#timer {
  background-color: olive;
  color: darkred;
  padding: 10px;
  font-weight: bolder;
}

#main {
  background-color: orange;
  color: navy;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
  height: 500px;
}

p {
  font-weight: bold;
}

.subtle {
  font-weight: normal;
  font-style: italic;
}

.button {
  padding: 5px 10px 5px 10px;
  background-color: navy;
  width: 50px;
  color: aliceblue;
  font-weight: bold;
  display: inline-block;
  margin: 20px;
}
